.divmain{
    display: flex;
    flex: 50%;
    box-shadow: 10px 10px #3b3932;
    margin-bottom: 20px;
    background-color: #f4deb3;
    border-radius: 20px;
}

.divcontent{
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

img{
    max-width: 100%;
    height: auto;
    width: 150px;
    border-radius: 50%;
}
